name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Upload files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "./"
          target: "/home/web-tribute/app/"

      - name: Deploy Docker container
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /home/web-tribute/app/

            #hapus yang lama
            sudo docker stop web-tribute || true
            sudo docker rm web-tribute || true
            
            # build image baru
            sudo docker build -t webtribute-image .

            # jalankan container baru
            sudo docker run -d --name web-tribute -p 80:80 webtribute-image
